{{> header}}

<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
    @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');



    main {
        max-width: 80%;
        min-height: 800px;
        margin: auto;
        padding: 40px;
        border: 1px solid rgba(0, 0, 0, .2);
        background: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
        margin-bottom: 100px;
    }

    section {
        display: none;
        padding: 20px 0 0;
        border-top: 1px solid #abc;
    }

    input {
        display: none;
    }

    label {
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 25px;
        font-weight: 600;
        text-align: center;
        color: #abc;
        border: 1px solid transparent;
    }

    label:before {
        font-family: fontawesome;
        font-weight: normal;
        margin-right: 10px;
    }

    label[for*='1']:before {
        content: '\f1cb';
    }

    label[for*='2']:before {
        content: '\f17d';
    }

    label[for*='3']:before {
        content: '\f16c';
    }

    label[for*='4']:before {
        content: '\f171';
    }

    label:hover {
        color: #789;
        cursor: pointer;
    }

    input:checked+label {
        color: #0062cc;
        border: 1px solid #abc;
        border-top: 2px solid #007bff;
        border-bottom: 1px solid #fff;
    }

    #tab1:checked~#content1,
    #tab2:checked~#content2,
    #tab3:checked~#content3,
    #tab4:checked~#content4 {
        display: block;
    }

    @media screen and (max-width: 800px) {
        label {
            font-size: 0;
        }

        label:before {
            margin: 0;
            font-size: 18px;
        }
    }

    @media screen and (max-width: 500px) {
        label {
            padding: 15px;
        }
    }

    <style type="text/css">.form-style-5 {
        max-width: 500px;
        padding: 10px 20px;
        background: #f4f7f8;
        margin: 10px auto;
        padding: 20px;
        background: #f4f7f8;
        border-radius: 8px;
        font-family: Georgia, "Times New Roman", Times, serif;
    }

    .form-style-5 fieldset {
        border: none;
    }

    .form-style-5 legend {
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    .form-style-5 label {
        display: block;
        margin-bottom: 8px;
    }

    .form-style-5 input[type="text"],
    .form-style-5 input[type="date"],
    .form-style-5 input[type="datetime"],
    .form-style-5 input[type="email"],
    .form-style-5 input[type="number"],
    .form-style-5 input[type="search"],
    .form-style-5 input[type="time"],
    .form-style-5 input[type="url"],
    .form-style-5 textarea,
    .form-style-5 select {
        font-family: Georgia, "Times New Roman", Times, serif;
        background: rgba(255, 255, 255, .1);
        border: none;
        border-radius: 4px;
        font-size: 15px;
        margin: 0;
        outline: 0;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        background-color: #e8eeef;
        color: #8a97a0;
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        margin-bottom: 30px;
    }

    .form-style-5 input[type="text"]:focus,
    .form-style-5 input[type="date"]:focus,
    .form-style-5 input[type="datetime"]:focus,
    .form-style-5 input[type="email"]:focus,
    .form-style-5 input[type="number"]:focus,
    .form-style-5 input[type="search"]:focus,
    .form-style-5 input[type="time"]:focus,
    .form-style-5 input[type="url"]:focus,
    .form-style-5 textarea:focus,
    .form-style-5 select:focus {
        background: #d2d9dd;
    }

    .form-style-5 select {
        -webkit-appearance: menulist-button;
        height: 35px;
    }

    .form-style-5 .number {
        background: #1abc9c;
        color: #fff;
        height: 30px;
        width: 30px;
        display: inline-block;
        font-size: 0.8em;
        margin-right: 4px;
        line-height: 30px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
        border-radius: 15px 15px 15px 0px;
    }

    .form-style-5 input[type="submit"],
    .form-style-5 input[type="button"] {
        position: relative;
        display: block;
        padding: 19px 39px 18px 39px;
        color: #FFF;
        margin: 0 auto;
        background: #1abc9c;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        width: 100%;
        border: 1px solid #16a085;
        border-width: 1px 1px 3px;
        margin-bottom: 10px;
    }

    .form-style-5 input[type="submit"]:hover,
    .form-style-5 input[type="button"]:hover {
        background: #109177;
    }

    .lwidth50 {
        width: 50%;
        float: left;
    }

    .rwidth50 {
        width: 50%;
        float: left;
    }

    .card-body label {
        color: #0062cc;
        padding: 10px 0;
    }

    .card-footer {
        padding: 20px 0;
    }

    button.applyLeaveBtn {
        padding: 10px;
        width: 200px;
        background-color: #0062cc;
        color: #fff;
        margin: 20px;
    }

    a.cancelBtn {
        color: #fff;
        background-color: rgba(255, 0, 0, 0.788235294117647);
        padding: 10px 30px;
        margin: 20px;
    }

    .table th {
        border-top: none;
    }

    .table thead th {
        color: blue;
    }

    .table td {
        color: #007bff;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 123, 255, 0.03);
    }
</style>
</style>
<main>
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">Leave Log</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">Holidays</label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3">Rules Gallery</label>



    <section id="content1">

        <div class="card pmd-card single-col-form">
            <form id="apply-leave" method="post" action="/dashboard/leave" novalidate="novalidate">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label class="control-label" for="Emplid-type">EmployeeId:-</label>
                                    <label class="control-label" name="Emplid-type" for="Emplid-type" id="lblEmpId">
                                        {{EmployeeId}}
                                    </label>
                                    <select name="leave-type" id="Empid-type" class="form-control"
                                        title="Please select a Leave Type" required="">
                                        {{#each EmpidData}}
                                        <option value="{{Id}}">{{EmployeeId}}</option>
                                        {{/each}}
                                    </select><span class="pmd-textfield-focused"></span>
                                </div>

                            </div>

                            <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                                <label for="leave-type">Leave Type</label>
                                <select name="leave-type" id="leave-type" class="form-control"
                                    title="Please select a Leave Type" required="">
                                    {{#each leaveTypeData}}
                                    <option value="{{LeaveTypeId}}">{{LeaveTypeName}}</option>
                                    {{/each}}
                                </select><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label class="control-label" for="datepickerstart">Start Date</label>
                                <input type="date" class="form-control" id="datepickerstart"
                                    name="datepickerstart"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label class="control-label" for="datepickerend">End Date</label>
                                <input type="date" class="form-control" id="datepickerend" name="datepickerend"><span
                                    class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label>Reason</label>
                                <textarea class="form-control" id="reason" name="reason"></textarea><span
                                    class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="applyLeaveBtn" name="applyleave" value="Apply Leave">Apply
                        Leave</button> <a href="/dashboard" class="cancelBtn">Cancel</a>
                </div>
            </form>

        </div>


        </div>
    </section>

    <section id="content2">
        <div class="holidayDayTable" id="holidayDayTable"></div>
    </section>

    <section id="content3">

    </section>
</main>
<script src="../javascripts/dashboard.js"></script>
<script>
    $(document).ready(function () {
        getHolidays();
        $("select#Empid-type").change(function () {
            var value = $(this).children("option:selected").text();;
            document.getElementById("lblEmpId").innerHTML = value;
        });
    });
</script>