<link rel='stylesheet' href='../stylesheets/style.css' />
<style>
    .validate-form {
        margin: 0px auto;
    }
    .rs1-wrap-input100{
        width:100% !important
    }
    .login100-form-title {
        padding: 25px
    }
    .validate-input{
        margin-bottom: 25px;
    }
    .login100-form{
        padding: 29px 50px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background: #fff;
        width: 30%;
        height: 50%;
        /* overflow: auto; */
        margin: auto;
        margin-left: 14%;
        position: absolute;
        top: 0;
        left: 17%;
        bottom: 0;
        right: 0;
    }
    .container{
        margin-top: 25px;
    }

    .cross_close{
        float: right;
        cursor: pointer;
    }
    .send_message{
        margin: 0px auto;
        /* top: 37px; */
        margin-top: 95px;
        height: 77px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .rs1-wrap-input100, .rs2-wrap-input100{
        width: 100%
    }
    .error_message{
        display: none;
    }
</style>

{{!-- {{> header}} --}}

    {{!-- <section id="banner"> --}}
    {{!-- <div class="limiter">
        <div class="container-login100"> --}}
    <div class="wrap-login100">

            <div  class="container"> 
                {{!-- {{{statusMessage}}}
                {{#if statusError}}
                <div>
                    <p>{{statusMessage}}</p>
                </div>
                {{/if}} --}}
                {{#if Reset_container}}
                    <form class="login100-form validate-form" action="{{url}}" method="POST">
                        {{{statusMessage}}}
                        <span>Back to <a href="/">Dashboard</a></span>
                        <span class="login100-form-title p-b-34">
                            Reset Password
                        </span>
                        <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                            <input class="input100" type="password" id ="txtoldPassword" name="oldpassword" placeholder=" Current Password" required>
                            <span class="focus-input100"></span>
                        </div>
                        {{{statusErrorMessage}}}
                        <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                            <input class="input100" type="password" id ="txtNewPassword" name="password" placeholder=" New Password" required>
                            <span class="focus-input100"></span>
                        </div>
                        {{!-- <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                            <input class="input100" type="password" id="txtConfirmPassword" name="Confirm_password" placeholder="Confirm Password" oninput="checkPasswordMatch();" required>
                            <span class="focus-input100"></span>
                        </div> --}}
                        <div class="registrationFormAlert error_message" id="divCheckPasswordMatch"></div>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" id="resetPassowrdButton">
                            Reset Password
                            </button>
                        </div>
                    </form>
                {{else}}
                    <form class="login100-form validate-form" action="{{url}}" method="POST">

                        <span class="login100-form-title p-b-34">
                            Reset Password
                        </span>
                        <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                            <input class="input100" type="password" id ="txtNewPassword" name="password" placeholder=" New Password" required>
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                            <input class="input100" type="password" id="txtConfirmPassword" name="Confirm_password" placeholder="Confirm Password" oninput="checkPasswordMatch();" required>
                            <span class="focus-input100"></span>
                        </div>
                        <div class="registrationFormAlert error_message" id="divCheckPasswordMatch"></div>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" id="resetPassowrdButton">
                            Reset Password
                            </button>
                        </div>
                    </form>
                {{/if}}

            </div>

    </div>
        {{!-- </div>
        </div> --}}

        <script>

            function checkPasswordMatch() {

                document.getElementById("divCheckPasswordMatch").style.display = 'block';
                var password = document.getElementById("txtNewPassword").value;
                var confirmPassword = document.getElementById("txtConfirmPassword").value;

                if (password != confirmPassword){
                     document.getElementById("resetPassowrdButton").disabled = true;
                     document.getElementById("divCheckPasswordMatch").innerHTML  = "Passwords do not match!"
                }
                else{
                    document.getElementById("resetPassowrdButton").disabled = false;
                      document.getElementById("divCheckPasswordMatch").innerHTML  = "Passwords match!"
                }
                   
            }
        </script>

    {{!-- </section> --}}